.signup {
    position: relative;
    background: #282B3090;
    width: max-content;
    backdrop-filter: blur(4px);
    border: 1px solid #545454;
    border-radius: 7px;
    margin: 5rem auto 1rem auto;
    text-align: center;
    padding: 4rem 2.25rem 2.25rem 2.25rem;
}

.signup__inputs {
    display: flex;
    margin: 2rem 0 0 0;
}

.signup_column {
    margin: 0 2rem 0 0;
}

.signup__division {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 1.5rem 0 0 0;
}

.signup__label {
    font-size: .85rem;
    font-weight: 300;
    margin: 0 0 .35rem 0;
    color: #FFFFFE;
}

.signup__input {
    border: none;
    border-radius: 3px;
    background: #424549;
    width: 100%;
    padding: .5rem 3.5rem .5rem .75rem;
    color: #FFFFFE;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.signup__input::placeholder {
    font-size: .75rem;
}

.signup__input:focus {
    outline: none;
    box-shadow: #2CB67D96 0px 0px 0px 3px;
}

.signup__buttons {
    display: flex;
    flex-direction: column;
}

.signup__button {
    padding: 15px 118px 15px 118px;
    border: none;
    cursor: pointer;
    color: #FFFFFE;
    border-radius: 3px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.signup__create {
    background: #2CB67D;
    margin: 1.5rem 0 0 0;
}

.signup__create:hover {
    background: #2CC987;
}

.signup__signin {
    background: transparent;
    margin: .5rem 0 0 0;
}

.signup__signin:hover {
    color: #2CB67D;
}
